
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color:#FFF;
    background-color: #f8aec3;
    padding-top: 50px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-style: oblique;
}

/* Set padding to keep content from hitting the edges */
.body-content {

}
a{
    color:#fff;
}
a:hover{
    color:#fff;
    text-decoration: none;
}
h1,h2,h3,h4{
    font-weight: bold;
    font-style: italic;
}
h1{
    font-size:42pt;   
}
h2{
    font-size: 36pt;
}
h3{
    font-size: 30pt;
}
h4{
    font-size: 14pt;
}
p{
    font-size:14pt;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

