{% extends "app/layout.html" %}

{% block content %}
<div class="layout aboutpage">
</br>
<h2>{{ title }}.</h2>
<h4>Homeline Bling. Late night when you need a home.</h4>
</br>
</br>
</br>
<p lowercase col-md-12 col-lg-12 col-sm-12>Built at WildHacks 2015, Homeline Bling is a web application that uses the Twilio API, Azure server, and Django framework web app techniques to create software for social change. The objective of Homeline Bling is to allow the homeless to call a pay phone and get information on the closest shelter to them, and the number of available spots at the shelter. The web application side is a place for shelter workers/owners to login and update the number of available spots for homeless people at the given location.</p>
</div>
{% endblock %}
