{% extends "app/layout.html" %}

{% block content %}
<div class="layout contactpage">
</br>
<h2>{{ title }}.</h2>
<h4>Thanks for stopping by!</h4>
</br>
</br>
</br>
<address>
    200 University Ave<br />
    Waterloo, ON<br />
    <abbr title="Phone">P:</abbr>
    647.864.3590
</address>
</br>
<address>
    <strong>Homelessness is a problem. If you want to make a difference, shoot us an email. </br></strong><a href="mailto:homelinebling@wildhacks.com">homelinebling@wildhacks</a><br />
</address>
</div>
{% endblock %}
