{% extends "app/layout.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container-fluid"> <div class="row">
        <div class="col-md-6">
            <img src = "http://i.imgur.com/A887l98.gif">
        </div>
        <div class="col-md-6"><div class="text">
            <h1>Homeline Bling</h1>
            <hr>
            <h4>Call me on your payphone, late night when you need a home</h4>
            <h2 style="padding-top:10%;">1-800-ACTUAL#</h3>
            <h5 style="font-style:italics;">call for the closest shelter near you</h5>
            <hr style="width:100%">
            <a href=#about><p>learn more &#8964</p></a>
        </div></div>
    </div></div>
</div>
<div id="about"><div class="container">
    <div class="row">
        <h2>how it works</h2>
        <div class="col-md-4">
            <img src="http://orig10.deviantart.net/f905/f/2015/326/2/f/i1_by_eexie-d9hlaif.png">
            <h5>
                the homeless can call the hotline from any payphone or cellphone
            </h5>
        </div>
        <div class="col-md-4">
            <img src="http://orig02.deviantart.net/ff60/f/2015/326/1/7/i2_by_eexie-d9hlaic.png">
            <h5>we extract data from our database of shelters, and using twilio api...</h5>
            <h5>we extract data from our database of shelters, and using twillio api...</h5>
        </div>
        <div class="col-md-4">
            <img src="http://orig05.deviantart.net/4bd8/f/2015/326/f/0/i3_by_eexie-d9hlai7.png">
            <h5>
                ....we reply with the location of the closest shelter home near you
            </h5>
        </div>
    </div>
</div></div>

{% endblock %}
