{% extends "app/layout.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container-fluid"> <div class="row">
        <div class="col-md-6">
            <img src = "http://i.imgur.com/A887l98.gif">
        </div>
        <div class="col-md-6"><div class="text">
            <h1>Homeline Bling</h1>
            <hr>
            <h4>Call me on your payphone, late night when you need a home</h4>
            <h2 style="padding-top:10%;">1-800-ACTUAL#</h3>
            <h5 style="font-style:italics;">call for the closest shelter near you</h5>
            <hr style="width:100%">
            <a href=#about><p>learn more &#8964</p></a>
        </div></div>
    </div></div>
</div>
<div id="about"><div class="container">
    <div class="row">
        <h2>how it works</h2>
        <div class="col-md-4">
            <img src="http://orig10.deviantart.net/f905/f/2015/326/2/f/i1_by_eexie-d9hlaif.png">
            <h5>
                the homeless can call the hotline from any payphone or cellphone
            </h5>
        </div>
        <div class="col-md-4">
            <img src="http://orig02.deviantart.net/ff60/f/2015/326/1/7/i2_by_eexie-d9hlaic.png">
            <h5>we extract data from our database of shelters, and using twilio api...</h5>
        </div>
        <div class="col-md-4">
            <img src="http://orig05.deviantart.net/4bd8/f/2015/326/f/0/i3_by_eexie-d9hlai7.png">
            <h5>
                ....we reply with the location of the closest shelter home near you
            </h5>
        </div>
    </div>
</div></div>
<div id="shelters"><div class="container-fluid"><div class="row">
    <div class = "col-md-4" style="padding:4% 5%">
        <h2>shelters</h2>
        <hr>
        <h4>CONNECTED WITH >50 SHELTER HOMES IN THE CHICAGO AREA</h4>
        <hr style="width:100%">
        <a href=#about><p>see all homes &#8964</p></a>
    </div>
    <div class = "col-md-8">
        <div id="map"></div>
        <script>
        var map;
            map = new GMaps({
              el: '#map',
              lat: 41.8716,
              lng: -87.69012,
              zoom: 15,
              zoomControl : false,
              panControl : true
            });
            map.addMarker({
              lat: 41.90975,
              lng: -87.71616,
              title: '1',
              infoWindow: {
                content: '<p>Latin United Community Housing Association</p>'
              }
            });
            map.addMarker({
              lat: 41.78142,
              lng: -87.66634,
              title: '2',
              infoWindow: {
                content: '<p>West Englewood United Organization</p>'
              }
            });
            map.addMarker({
              lat: 41.79791,
              lng: -87.62043,
              title: '3',
              infoWindow: {
                content: '<p>Door of Hope Rescue Mission</p>'
              }
            });
            map.addMarker({
              lat: 41.88281,
              lng: -87.63298,
              title: '4',
              infoWindow: {
                content: '<p>International Fellowship of Christians and Jews</p>'
              }
            });
            map.addMarker({
              lat: 41.89629,
              lng: -87.63199,
              title: '5',
              infoWindow: {
                content: '<p>Access Living of Metropolitan</p>'
              }
            });
            map.addMarker({
              lat: 41.88967,
              lng: -87.76475,
              title: '6',
              infoWindow: {
                content: '<p>Single Room Housing Assistance Corporation</p>'
              }
            });
            map.addMarker({
              lat: 41.93113,
              lng: -87.76475,
              title: '7',
              infoWindow: {
                content: '<p>Northwest Side Housing Centre</p>'
              }
            });
            map.addMarker({
              lat: 41.87949,
              lng: -87.66869,
              title: '8',
              infoWindow: {
                content: '<p>Cathedral Shelter of Chicago</p>'
              }
            });
            map.addMarker({
              lat: 41.87934,
              lng: -87.62746,
              title: '9',
              infoWindow: {
                content: '<p>Housing Action Illinois</p>'
              }
            });
            map.addMarker({
              lat: 41.85556,
              lng: -87.66276,
              title: '10',
              infoWindow: {
                content: '<p>Spanish Coalition for Housing</p>'
              }
            });
    </script> 
    </div>
</div></div></div>

{% endblock %}
