<!DOCTYPE html3
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Homeline Bing</title>
    {% load staticfiles %}
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{% static 'app/scripts/gmaps.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script>
            var map;
            $(document).ready(function(){
                map = new GMaps({
                  el: '#map',
                  lat: 41.8716,
                  lng: -87.69012
                });
                map.addMarker({
                  lat: 41.90975,
                  lng: -87.71616,
                  title: '1',
                  infoWindow: {
                    content: '<p>Latin United Community Housing Association</p>'
                  }
                });
                map.addMarker({
                  lat: 41.78142,
                  lng: -87.66634,
                  title: '2',
                  infoWindow: {
                    content: '<p>West Englewood United Organization</p>'
                  }
                });
                map.addMarker({
                  lat: 41.79791,
                  lng: -87.62043,
                  title: '3',
                  infoWindow: {
                    content: '<p>Door of Hope Rescue Mission</p>'
                  }
                });
                map.addMarker({
                  lat: 41.88281,
                  lng: -87.63298,
                  title: '4',
                  infoWindow: {
                    content: '<p>International Fellowship of Christians and Jews</p>'
                  }
                });
                map.addMarker({
                  lat: 41.89629,
                  lng: -87.63199,
                  title: '5',
                  infoWindow: {
                    content: '<p>Access Living of Metropolitan</p>'
                  }
                });
                map.addMarker({
                  lat: 41.88967,
                  lng: -87.76475,
                  title: '6',
                  infoWindow: {
                    content: '<p>Single Room Housing Assistance Corporation</p>'
                  }
                });
                map.addMarker({
                  lat: 41.93113,
                  lng: -87.76475,
                  title: '7',
                  infoWindow: {
                    content: '<p>Northwest Side Housing Centre</p>'
                  }
                });
                map.addMarker({
                  lat: 41.87949,
                  lng: -87.66869,
                  title: '8',
                  infoWindow: {
                    content: '<p>Cathedral Shelter of Chicago</p>'
                  }
                });
                map.addMarker({
                  lat: 41.87934,
                  lng: -87.62746,
                  title: '9',
                  infoWindow: {
                    content: '<p>Housing Action Illinois</p>'
                  }
                });
                map.addMarker({
                  lat: 41.85556,
                  lng: -87.66276,
                  title: '10',
                  infoWindow: {
                    content: '<p>Spanish Coalition for Housing</p>'
                  }
                });
            });
          </script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><h4>Homeline Bling</h4></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}"><h5>Home</h5></a></li>
                    <li><a href="{% url 'about' %}"><h5>About</h5></a></li>
                    <li><a href="{% url 'shelters' %}"><h5>Shelters</h5></a></li>
                    <li><a href="{% url 'contact' %}"><h5>Contact<h5></a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>

    <div class="body-content">
{% block content %}{% endblock %}
        <footer>
            <hr/>
            <h5>&copy; {{ year }} - Homeline Bling - Created at WildHacks 2015</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}
    <script>
        $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                  scrollTop: target.offset().top
                }, 1000);
                return false;
              }
            }
          });
        });
    </script>
</body>
</html>
