{% if user.is_authenticated %}
<div class="layout loggedin">
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Hello {{ user.username }}!</span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</form>



{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">Log in</a></li>
</ul>

{% endif %}
<!--
<br><br><br><br><br><br><br>

<h4>Update the available spots in the table.</h4>

<table>
    <tr>
        <th>Field 1</th>
        ...
        <th>Field N</th>
    </tr>
    {% for item in query_results %}
    <tr> 
        <td>{{ item.field1 }}</td>
        ...
        <td>{{ item.fieldN }}</td>
    </tr>
    {% endfor %}
</table>

{% for value in Shelter_Information %} {
	<li>(% {{ Shelter_Information.name}} , {{Shelter_Information.shelter_address}} , {{Shelter_Information.shelter_city}}, {{Shelter_Information.spots_remaining}} %}
{% endfor %}
}
</br>
</div>
<form method="post">
	{% csrf_token %}
	{{ form }}
	<button type="submit">Save Changes</button>
</form>

-->